<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
</br>
<table>
  <tr>
    <th><h2><%= @game.player_1.name %><h2></th>
    <th><h2><%= @game.player_2.name %><h2></th>
  </tr>
  <tr>
    <td><%= @game.player_1.hp %>HP</td>
    <td><%= @game.player_2.hp %>HP</td>
  </tr>
</table>
<h3><%= @game.current_turn.name %>'s turn:</h3>
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>

</body>
</html>
